.banner {
    color: #221E1F;
    padding: 0 140px 0;
    margin-bottom: 300px;
    h2 {
        margin: 92px 0 180px 0;
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 16px;
    }
}