header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 140px;
    margin-bottom: 30px;
    .logo{
        height: 40px;
    }
    .button{
        color: #ffffff;
        background-color: #FF5D50;
        border-radius: 22px;
        padding: 8px 32px;
        font-size: 16px;
        border: none;
        font-weight: bold;
        &:hover{
            color: #FF5D50;
            background-color: #ffffff;
            border: 1px solid #FF5D50;
        }
    }
}