.wrap {
    max-width: 910px;
    margin: 0 auto;

    .price {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-weight: bold;
            font-size: 32px;
            margin-bottom: 48px;
        }

        .pricelist {
            display: flex;
            gap: 16px;
            margin-bottom: 54px;

            .button {
                font-size: 18px;
                color: #56C4C5;
                border: 1px solid #56C4C5;
                background-color: #ffffff;
                padding: 12px 32px;
                border-radius: 27px;

                &:hover {
                    color: #ffffff;
                    background-color: #56C4C5;
                }
            }

        }
    }

    .priceinfo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;

        gap: 16px;


        .info {
            padding-top: 10px;
            background-color: #ffffff;
            width: 440px;
            box-shadow: 0 2px 10px #00000014;
            border-radius: 12px;

            h4 {
                text-align: center;
                font-weight: bold;
                font-size: 24px;
                border-bottom: 1px solid #DDDDDD;
                padding-bottom: 16px;
                margin-bottom: 32px;
            }

            .infotext {
                text-align: center;
                margin-bottom: 32px;
                line-height: 24px;

            }
        }

    }

    .infocontent {
        padding: 0 23px 32px 29px;
    }

    .cost {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        .costnum {
            text-align: center;
            background-color: #F5F5F5;
            padding: 24px 32px;
            border-radius: 12px;
            gap: 21px;

            p {
                font-size: 12px;
                color: #221E1F;
                margin-bottom: 8px;
            }

            .num {
                font-size: 32px;



                span {
                    font-size: 12px;
                }
            }

            .numcolor {
                color: #56C4C5;
            }
        }
    }

    .contentlist {
        margin-bottom: 32px;

        li {
            display: flex;
            gap: 12px;
            margin-bottom: 16px;
        }
    }

    .button {
        font-size: 18px;

        border: 1px solid #56C4C5;

        padding: 12px 32px;
        border-radius: 27px;
        color: #ffffff;
        background-color: #56C4C5;

        &:hover {
            color: #56C4C5;
            background-color: #ffffff;
        }
    }
    .question{
        margin-bottom: 100px;
        h3{
            font-weight: bold;
            font-size: 32px;
            text-align: center;
            margin-bottom: 48px;
        }
        .questiontext{
            display: flex;
            justify-content: space-between;
            padding: 16px 32px;
            margin-bottom: 16px;
            box-shadow:  0 2px 10px #00000014;
            border-radius: 12px;

        }
    }
}