@import "cssreset";


/*background*/

body {
    color: #221E1F;

    .bgbox {
        position: relative;

        .bgcover {
            position: absolute;
            background-color: #f7f9fd;
            width: 100%;
            height: 470px;
            border-radius: 0 0 0 300px;
            z-index: -15;
        }

        .bgimg {
            position: absolute;
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner.svg);
            background-repeat: no-repeat;

            background-size: cover;
            top: 0;
            right: 0;
            width: 885px;
            height: 559px;
            z-index: -10;
        }

        .bdcircle {

            position: absolute;
            background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball03.svg);
            background-repeat: no-repeat;

            background-size: cover;
            width: 360px;
            height: 360px;
            top: 876px;
            left: -267px;
            z-index: 99;
        }

    }




    .topBtn {
        display: block;
        position: fixed;
        background-image: url(https://github.com/weizhetseng/ProjceChatBot/blob/main/img/top.png?raw=true);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 70px;
        height: 70px;
        bottom: 20px;
        right: 20px;
        z-index: 99;
    }
}

@media (max-width: 767px) {
    body {
        .bgbox {
            .bgimg {
                background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner_sm.svg);
                max-width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                top: 66px;
                left: 0;
                z-index: -10;
            }
        }


        .topBtn {
            width: 50px;
            height: 50px;
        }
    }




}

/*header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 140px;
    margin-bottom: 30px;

    h1 {
        a {
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/logo.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 218px;
            height: 40px;
            display: block;
        }
    }

    .button {
        color: #ffffff;
        background-color: #FF5D50;
        border-radius: 22px;
        padding: 8px 32px;
        font-size: 16px;
        border: none;

        &:hover {
            color: #FF5D50;
            border: 1px solid #FF5D50;
            background-color: #ffffff;
        }
    }
}

@media (max-width: 767px) {
    header {
        padding: 12px 20px;
        border-bottom: 2px solid #F5CA52;

    }
}

@media (max-width: 375px) {
    header {
        h1 {
            a {
                width: 130px;
                height: 24px;
            }
        }
    }

}

/*banner*/

.banner {
    padding: 0 140px;
    margin: 92px 0 280px;

    h2 {
        font-weight: bold;
        font-size: 48px;
        line-height: 70px;
        margin-bottom: 16px;
    }

    p {
        line-height: 1.5;
    }
}

@media (max-width: 767px) {
    .banner {
        padding: 0 20px;
    }
}



@media (max-width: 375px) {
    .banner {
        h2 {
            font-size: 32px;
        }

    }
}






.container {
    max-width: 910px;
    margin: 0 auto;

    .Program {
        margin-bottom: 100px;

        h3 {
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 48px;
        }

        .ProgramSelect {
            display: flex;
            justify-content: center;
            gap: 16px;
            margin-bottom: 48px;

            .number {
                color: #56C4C5;
                border: 1px solid #56C4C5;
                background-color: #ffffff;
                border-radius: 27px;
                padding: 12px 32px;
                font-size: 16px;

                &:hover {
                    color: #ffffff;
                    background-color: #56C4C5;
                }
            }
        }

        .Programinfolist {
            display: flex;
            justify-content: space-between;
            margin-bottom: 100px;

            .Programinfoitem {
                border-radius: 12px;
                box-shadow: 0 2px 10px #00000014;
                max-width: 440px;
                padding-top: 10px;

                h4 {
                    text-align: center;
                    font-size: 24px;
                    font-weight: bold;
                    border-bottom: 1px solid #DDDDDD;
                    padding-bottom: 16px;
                    margin-bottom: 32px;
                    line-height: 35px;
                }

                .priceinfo {
                    text-align: center;
                    margin-bottom: 32px;
                    line-height: 1.5;
                    margin-bottom: 32px;
                }

                .priceContent {
                    padding: 0 23px 32px 29px;
                    text-align: center;

                    .price {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-align: center;
                        margin-bottom: 32px;

                        .pricetext1 {
                            background-color: #F5F5F5;
                            border-radius: 12px;
                            padding: 24px 32px;

                            .pricetextsm {
                                font-size: 12px;
                                margin-bottom: 8px;
                            }

                            .textbg {
                                color: #56C4C5;
                                font-size: 32px;

                                .textsm {
                                    font-size: 12px;
                                    font-weight: bold;
                                }
                            }
                        }

                        .pricetext2 {
                            background-color: #F5F5F5;
                            border-radius: 12px;
                            padding: 24px 39px;

                            .pricetextsm {
                                font-size: 12px;
                                margin-bottom: 8px;
                            }

                            .textbg {
                                font-size: 32px;

                                .textsm {
                                    font-size: 12px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    .function {
                        margin-bottom: 32px;

                        li {
                            display: flex;
                            margin-bottom: 16px;

                            p {
                                margin-left: 13px;
                            }
                        }
                    }

                    .XP {

                        color: #ffffff;
                        border: 1px solid #ffffff;
                        background-color: #56C4C5;
                        border-radius: 27px;
                        padding: 12px 32px;
                        font-size: 16px;

                        &:hover {
                            color: #56C4C5;
                            background-color: #ffffff;
                            border: 1px solid #56C4C5;
                        }
                    }
                }
            }
        }
    }

    .QA {
        margin-bottom: 100px;

        h3 {
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 48px;
        }

        .question {
            box-shadow: 0 2px 10px #00000014;
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 32px;
            margin-bottom: 16px;

            h4 {
                font-size: 18px;
            }
        }
    }

}


@media (max-width: 767px) {
    .ProgramSelect {
        flex-wrap: wrap;
    }

    .Programinfolist {
        flex-direction: column;
        align-items: center;

        .Programinfoitem {

            margin-bottom: 48px;

        }
    }
}

@media (max-width: 375px) {
    .Program {
        h3 {
            font-size: 28px;
        }

        .Programinfolist {

            .Programinfoitem {
                width: 335px;

                .pricetext1 {
                    width: 139px;
                    padding: 16px 24px;

                    .textbg {
                        font-size: 28px;
                    }
                }

                .pricetext2 {
                    width: 139px;
                    padding: 16px 27px;

                    .textbg {
                        font-size: 28px;
                    }
                }


            }
        }
    }
}




footer {
    p {
        text-align: center;
        background-color: #F5F5F5;
        padding: 16px;
    }
}