html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*background*/
body {
  color: #221E1F;
}

body .topBtn {
  display: block;
  position: fixed;
  background-image: url(/img/top.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 70px;
  height: 70px;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

@media (max-width: 767px) {
  body .topBtn {
    width: 50px;
    height: 50px;
  }
}

/*header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 140px;
  margin-bottom: 30px;
}

header h1 a {
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 218px;
  height: 40px;
  display: block;
}

header .button {
  color: #ffffff;
  background-color: #FF5D50;
  border-radius: 22px;
  padding: 8px 32px;
  font-size: 16px;
  border: none;
}

header .button:hover {
  color: #FF5D50;
  border: 1px solid #FF5D50;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  header {
    padding: 12px 20px;
    border-bottom: 2px solid #F5CA52;
  }
}

@media (max-width: 375px) {
  header h1 a {
    width: 130px;
    height: 24px;
  }
}

/*banner*/
.banner {
  padding: 0 140px;
  margin: 92px 0 280px;
}

.banner h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 70px;
  margin-bottom: 16px;
}

.banner p {
  line-height: 1.5;
}

@media (max-width: 767px) {
  .banner {
    padding: 0 20px;
  }
}

@media (max-width: 375px) {
  .banner h2 {
    font-size: 32px;
  }
}

.container {
  max-width: 910px;
  margin: 0 auto;
}

.container .Program {
  margin-bottom: 100px;
}

.container .Program h3 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 48px;
}

.container .Program .ProgramSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-bottom: 48px;
}

.container .Program .ProgramSelect .number {
  color: #56C4C5;
  border: 1px solid #56C4C5;
  background-color: #ffffff;
  border-radius: 27px;
  padding: 12px 32px;
  font-size: 16px;
}

.container .Program .ProgramSelect .number:hover {
  color: #ffffff;
  background-color: #56C4C5;
}

.container .Program .Programinfolist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.container .Program .Programinfolist .Programinfoitem {
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
  max-width: 440px;
  padding-top: 10px;
}

.container .Program .Programinfolist .Programinfoitem h4 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 16px;
  margin-bottom: 32px;
  line-height: 35px;
}

.container .Program .Programinfolist .Programinfoitem .priceinfo {
  text-align: center;
  margin-bottom: 32px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.container .Program .Programinfolist .Programinfoitem .priceContent {
  padding: 0 23px 32px 29px;
  text-align: center;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 32px;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .price .pricetext1 {
  background-color: #F5F5F5;
  border-radius: 12px;
  padding: 24px 32px;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .price .pricetext1 .pricetextsm {
  font-size: 12px;
  margin-bottom: 8px;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .price .pricetext1 .textbg {
  color: #56C4C5;
  font-size: 32px;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .price .pricetext1 .textbg .textsm {
  font-size: 12px;
  font-weight: bold;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .price .pricetext2 {
  background-color: #F5F5F5;
  border-radius: 12px;
  padding: 24px 39px;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .price .pricetext2 .pricetextsm {
  font-size: 12px;
  margin-bottom: 8px;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .price .pricetext2 .textbg {
  font-size: 32px;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .price .pricetext2 .textbg .textsm {
  font-size: 12px;
  font-weight: bold;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .function {
  margin-bottom: 32px;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .function li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .function li p {
  margin-left: 13px;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .XP {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #56C4C5;
  border-radius: 27px;
  padding: 12px 32px;
  font-size: 16px;
}

.container .Program .Programinfolist .Programinfoitem .priceContent .XP:hover {
  color: #56C4C5;
  background-color: #ffffff;
  border: 1px solid #56C4C5;
}

.container .QA {
  margin-bottom: 100px;
}

.container .QA h3 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
}

.container .QA .question {
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
  margin-bottom: 16px;
}

.container .QA .question h4 {
  font-size: 18px;
}

@media (max-width: 767px) {
  .ProgramSelect {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Programinfolist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Programinfolist .Programinfoitem {
    margin-bottom: 48px;
  }
}

@media (max-width: 375px) {
  .Program h3 {
    font-size: 28px;
  }
  .Program .Programinfolist .Programinfoitem {
    width: 335px;
  }
  .Program .Programinfolist .Programinfoitem .pricetext1 {
    width: 139px;
    padding: 16px 24px;
  }
  .Program .Programinfolist .Programinfoitem .pricetext1 .textbg {
    font-size: 28px;
  }
  .Program .Programinfolist .Programinfoitem .pricetext2 {
    width: 139px;
    padding: 16px 27px;
  }
  .Program .Programinfolist .Programinfoitem .pricetext2 .textbg {
    font-size: 28px;
  }
}

footer p {
  text-align: center;
  background-color: #F5F5F5;
  padding: 16px;
}
/*# sourceMappingURL=second.css.map */