footer{
    text-align: center;
    .footerbox{
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home_footer.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 503px;
        padding-top: 300px;
        h3{
            color: #221E1F;
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 48px;
        }
        .button3{
            color: #ffffff;
            background-color: #56C4C5;
            border-radius: 27px;
            padding: 12px 32px;
            border: none;
            &:hover{
                color: #56C4C5;
                border: 1px solid #56C4C5;
                background-color: #ffffff;
            }
        }
    }
    .copyright{
        background-color: #F5F5F5;
        padding: 16px;
    }
}