header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 170px;
    h1{
        a{
            display: block;
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/logo.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 218px;
            height: 40px;
        }
    }
    .page{
        display: block;
        color: #ffffff;
        background-color: #FF5D50;
        border-radius: 22px;
        padding: 8px 32px;
        border:  none;
        &:hover{
            color: #FF5D50;
            border: 1px solid #FF5D50;
            background-color: #ffffff;
        }
    }
}