.wrap {
    max-width: 1088px;
    margin: 0 auto;
    padding: 0 20px;

    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 217px;

        p {
            color: #56C4C5;
            font-size: 18px;
            margin-bottom: 8px;
            font-weight: bold;
        }

        h2 {
            color: #221E1F;
            font-size: 48px;
            margin-bottom: 16px;
            font-weight: bold;
            line-height: 70px;
        }

        span {
            color: #221E1F;
            font-size: 20px;


        }

        img {
            width: 532px;
            height: 534px;
        }
    }

    .accounts {
        margin-bottom: 100px;
        text-align: center;

        h3 {
            color: #221E1F;
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 48px;
        }

        ul {
            display: flex;
            justify-content: space-evenly;

            li {
                img {
                    width: 90px;
                    height: 90px;
                    margin-bottom: 24px;
                }

                h4 {
                    color: #221E1F;
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 24px;
                }

                p {
                    color: #747474;
                    line-height: 24px;
                }
            }
        }
    }

    .role {
        text-align: center;
        margin-bottom: 100px;

        h3 {
            color: #221E1F;
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        .roleslogan {
            color: #221E1F;
            font-size: 20px;
            margin-bottom: 48px;
        }

        ul {

            display: flex;
            gap: 16px;

            li {
                width: 260px;
                border-radius: 12px;
                box-shadow: 0 2px 10px #00000014;
                background-color: #ffffff;
                img {
                    border-radius: 12px 12px 0 0;
                }

                .roletext {
                    padding: 16px 16px 24px 16px;

                    h4 {
                        color: #56C4C5;
                        font-weight: bold;
                        margin-bottom: 16px;
                    }

                    p {
                        color: #221E1F;
                    }
                }
            }
        }
    }

    .function {
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        .sidecard {
            max-width: 47%;
            color: #221E1F;

            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                li {
                    width: 230px;
                    padding: 32px 32px 48px 32px;
                    background-color: #ffffff;
                    box-shadow: 0 2px 10px #00000014;
                    border-radius: 12px;
                    margin-bottom: 28px;

                    .cardimg {
                        width: 86px;
                        height: 86px;
                        border-radius: 50%;
                        box-shadow: 0 2px 10px #00000014;
                        background-color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 24px;
                    }

                    h4 {
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 16px;
                    }

                    p {
                        line-height: 24px;
                    }
                }


            }
        }

        .sidetext {
            max-width: 53%;
            margin-left: 137px;
            h3 {
                color: #221E1F;
                font-weight: bold;
                font-size: 32px;
                margin-bottom: 16px;
            }
            p{
                color: #221E1F;
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 24px;
            }
            .button2{
                color: #ffffff;
                background-color: #56C4C5;
                padding: 12px 32px;
                border-radius: 27px;
                font-size: 16px;
                border: none;
                font-weight: bold;
                &:hover{
                    color: #56C4C5;
                    background-color: #ffffff;
                    border: 1px solid #56C4C5;
                }
            }
        }

    }
    .comments{
        margin-bottom: 134px;
        color: #221E1F;
        h3{
            font-weight: bold;
            font-size: 32px;
            text-align: center;
            margin-bottom: 104px;
        }
        ul{
            display: flex;
            gap: 16px;
            li{
                position: relative;
                width: 352px;
                box-shadow: 0 2px 10px #00000014;
                background-color: #ffffff;
                border-radius: 12px;
                padding: 48px 32px 24px 32px;
                .user{
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    bottom: 194px;
                    
                }
                p{
                    border-bottom: 1px solid #00000014;
                    padding-bottom: 24px;
                    margin-bottom: 24px;
                }
                h4{
                   font-weight: bold;
                   margin-bottom: 8px;
                }
                .score{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

            }
        }
    }
}