@import "cssreset";

body {
    color: #221E1F;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home.svg),
        url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball01.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball02.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball03.svg);
    background-repeat: no-repeat;
    background-size: 850px 768px, 360px 360px, 310px 310px, 150px 150px;
    background-position: right top, -222px 589px, 1156px 1594px, 130px 2650px;

    .topBtn {
        display: block;
        position: fixed;
        background-image: url(/img/top.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 70px;
        height: 70px;
        bottom: 20px;
        right: 20px;
        z-index: 99;
    }
}

@media (max-width: 767px) {
    body {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home_sm.svg),
        url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball01.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball02.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball03.svg);

        background-size: 350px 350px, 260px 260px, 210px 210px, 150px 150px;
        background-position: 50% 391px, -162px 789px, 580px 2494px, 100px 3690px;

        .topBtn {
            width: 50px;
            height: 50px;
        }
    }



}


@media (max-width: 375px) {
    body {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home_sm.svg),
        url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball01.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball02.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball03.svg);

        background-size: 350px 350px, 126px 126px, 135px 135px, 153px 153px;
        background-position: 50% 391px, -77px 823px, 287px 3267px, -76px 5100px;
    }

}



/*header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 140px;
    margin-bottom: 30px;

    h1 {
        a {
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/logo.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 218px;
            height: 40px;
            display: block;
        }
    }

    .button {
        color: #ffffff;
        background-color: #FF5D50;
        border-radius: 22px;
        padding: 8px 32px;
        font-size: 16px;
        border: none;

        &:hover {
            color: #FF5D50;
            border: 1px solid #FF5D50;
            background-color: #ffffff;
        }
    }
}

@media (max-width: 767px) {
    header {
        padding: 12px 20px;
        border-bottom: 2px solid #F5CA52;

    }
}

@media (max-width: 375px) {
    header {
        h1 {
            a {
                width: 130px;
                height: 24px;
            }
        }
    }

}

/*banner*/

.banner {
    padding: 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 217px;

    .bannertext {
        p {
            font-size: 18px;
            color: #56C4C5;
            font-weight: bold;
            line-height: 26px;
            margin-bottom: 8px;
        }

        h2 {
            font-size: 48px;
            color: #221E1F;
            font-weight: bold;
            line-height: 70px;
            margin-bottom: 16px;
        }

        span {
            font-size: 20px;
            color: #221E1F;
            line-height: 29px;
        }
    }

    .bannerimg {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 532px;
        height: 534px;
    }
}

@media (max-width: 1200px) {
    .banner {
        .bannerimg {
            width: 398px;
            height: 400px;
        }
    }

}

@media (max-width: 992px) {
    .banner {
        .bannerimg {
            width: 348px;
            height: 350px;
        }
    }

}

@media (max-width: 767px) {
    .banner {
        flex-direction: column;
        padding: 0 20px;
        margin-bottom: 100px;

        .bannertext {
            margin-bottom: 48px;
        }
    }

}


@media (max-width: 375px) {
    .banner {
        .bannertext {
            p {
                font-size: 16px;
            }

            h2 {
                font-size: 32px;
            }

            span {
                font-size: 16px;
            }
        }

        .bannerimg {
            width: 304px;
            height: 306px;
        }
    }
}

/*main*/

.container {
    max-width: 1088px;
    margin: 0 auto;
    padding: 0 20px;
    

    .accounts {
        text-align: center;
        margin-bottom: 100px;

        h3 {
            font-weight: bold;
            font-size: 32px;
            margin-bottom: 48px;
        }

        ul {
            display: flex;
            justify-content: space-evenly;

            li {
                img {
                    max-width: 90px;
                    max-height: 90px;
                    margin-bottom: 24px;
                }

                h4 {
                    font-weight: bold;
                    font-size: 24px;
                    margin-bottom: 24px;
                }

                p {
                    color: #747474;
                    line-height: 1.5;
                }
            }
        }
    }

    .role {
        text-align: center;
        margin-bottom: 100px;

        h3 {
            font-weight: bold;
            font-size: 32px;
            margin-bottom: 48px;
        }

        span {
            display: block;
            font-size: 20px;
            margin-bottom: 48px;
        }

        ul {
            display: flex;
            justify-content: space-between;
            gap: 16px;

            li {
                width: 260px;
                box-shadow: 0 2px 10px #00000014;
                background-color: #ffffff;
                border-radius: 12px;

                img {
                    border-radius: 12px 12px 0 0;
                }

                .roletext {
                    padding: 16px 16px 24px 16px;

                    h4 {
                        color: #56C4C5;
                        font-weight: bold;
                        margin-bottom: 16px;
                    }

                    p {
                        line-height: 1.5;
                    }
                }

            }
        }
    }

    .function {
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        .sidecard {
            max-width: 47%;
            display: flex;
            gap: 28px;
            justify-content: center;
            flex-wrap: wrap;

            li {

                padding: 32px 32px 48px 32px;
                box-shadow: 0 2px 10px #00000014;
                background-color: #ffffff;
                width: 44%;
                border-radius: 12px;

                .cardimg {
                    width: 86px;
                    height: 86px;
                    border-radius: 50%;
                    box-shadow: 0 2px 10px #00000014;
                    background-color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 24px;
                }

                h4 {
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 16px;
                }

                p {
                    line-height: 26px;
                }
            }

        }

        .sidetext {
            max-width: 53%;
            padding-left: 137px;

            h3 {
                font-weight: bold;
                font-size: 32px;
                margin-bottom: 16px;
                line-height: 46px;
            }

            p {
                font-size: 18px;
                margin-bottom: 24px;
                line-height: 26px;
            }

            .button2 {
                display: inline-block;
                color: #ffffff;
                background-color: #56C4C5;
                border-radius: 22px;
                padding: 12px 32px;
                font-size: 16px;
                border: none;

                &:hover {
                    color: #56C4C5;
                    border: 1px solid #56C4C5;
                    background-color: #ffffff;
                }
            }
        }
    }

    .comments {
        margin-bottom: 100px;

        h3 {
            font-weight: bold;
            font-size: 32px;
            margin-bottom: 48px;
            text-align: center;
            margin-bottom: 104px;
        }

        ul {
            display: flex;
            gap: 16px;

            li {
                position: relative;
                box-shadow: 0 2px 10px #00000014;
                border-radius: 12px;
                background-color: #ffffff;
                padding: 48px 32px 24px 32px;
                width: 352px;
                line-height: 1.5;

                .users {
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    top: -54px;
                }

                p {
                    border-bottom: 1px solid #DDDDDD;
                    padding-bottom: 24px;
                    margin-bottom: 24px;

                }

                h4 {
                    font-weight: bold;
                    margin-bottom: 8px;
                }

                .score {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}



@media (max-width: 767px) {
    .container {


        .accounts {
            ul {
                flex-direction: column;

                li {
                    margin-bottom: 24px;
                }
            }
        }

        .role {
            ul {
                justify-content: center;
                flex-wrap: wrap;
            }
        }

        .function {
            flex-direction: column-reverse;

            .sidetext {
                max-width: 100%;
                padding: 0;
                text-align: center;
                margin-bottom: 32px;
            }

            .sidecard {
                max-width: 100%;
                justify-content: center;

                li {
                    width: 230px;
                }


            }
        }

        .comments {
            margin-bottom: 0;

            h3 {
                margin-bottom: 88px;
            }

            ul {
                align-items: center;
                flex-direction: column;

                li {
                    margin-bottom: 88px;
                }
            }
        }
    }

}

@media (max-width: 375px) {
    .container {
        padding: 0 20px;

        .accounts {
            h3 {
                font-size: 28px;
            }

            ul {
                li {
                    img {
                        width: 60px;
                        height: 60px;
                    }

                    h4 {
                        font-size: 18px;
                    }
                }
            }
        }
        .role{
            h3{
                font-size: 28px;
            }
            span{
                font-size: 18px;
            }
        }
        .function{
            .sidetext{
                h3{
                    font-size: 28px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
        .comments{
            h3{
                font-size: 28px;
            }
            ul{
                li{
                    width: 335px;
                }
            }
        }
    }

}


/*footer*/

footer {
    .footerbox {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home_footer.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 503px;
        display: flex;
        align-items: center;
        justify-content: center;

        .footertext {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 260px;

            h3 {
                font-weight: bold;
                font-size: 32px;
                line-height: 1.5;
                margin-bottom: 48px;
            }

            .button3 {
                display: inline-block;
                color: #ffffff;
                background-color: #56C4C5;
                border-radius: 22px;
                padding: 12px 32px;
                font-size: 16px;
                border: none;

                &:hover {
                    color: #56C4C5;
                    border: 1px solid #56C4C5;
                    background-color: #ffffff;
                }
            }
        }


    }

    .copyright {
        text-align: center;
        padding: 16px;
        background-color: #F5F5F5;
    }
}


@media (max-width: 767px) {
    footer {
        .footerbox {
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home_footer.svg);

            .footertext {
                h3 {
                    font-size: 24px;
                    margin-bottom: 24px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    footer {
        .footerbox {
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/footer_sm.svg);
            height: 461px;
        }
    }
}